@import "/scheme.css";

@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  color: var(--color-black);
  line-height: 1;
  font-weight: 400;
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading__primary {
  color: var(--color-white);
  text-align: center;
  margin-top: 3rem;
  font-size: 4.2rem;
}

.forms {
  max-width: 60rem;
  margin: 5rem auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  @media screen and (min-width: 37em) {
    padding: 0 3.2rem;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 4rem;
  border-radius: 3rem;
  background-color: var(--color-white);
  box-shadow: 0 2.4rem 4.8rem var(--box-shadow);
  gap: 2.4rem;

  @media screen and (min-width: 60rem) {
    grid-template-columns: 1fr 1fr;
  }
}

.form__label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.form__input {
  width: 100%;
  padding: 1.2rem;
  background-color: var(--background);
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0 0.1rem 0.2rem var(--box-shadow);
  transition: var(--transition);
}

.form__input::placeholder {
  font-size: 1.6rem;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem var(--box-shadow);
}

.form__button--signin,
.form__button--register,
.form__button--visibility {
  background-color: var(--color-dark);
  color: var(--color-white);
  width: 50%;
  border-radius: 3rem;
  border: none;
  padding: 1.2rem;
  justify-self: center;
  font-size: 2rem;
  transition: var(--transition);
  cursor: pointer;

  @media screen and (min-width: 37em) {
    grid-column: 1/-1;
  }
}

.form__button--signin:hover,
.form__button--register:hover,
.form__button--visibility:hover {
  background-color: var(--color-red);
}

.form__button--visibility {
  margin: 0 auto;
  width: 22.8rem;
}
.footer {
  background-color: var(--color-dark);
  margin-top: auto;
  color: var(--color-white);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  padding: 5rem 2rem 2rem;
}

.form_field.error input {
  border: 1px solid var(--error-color);
}

.form_field.success input {
  border: 1px solid var(--success-color);
}

form i {
  margin-left: -30px;
  cursor: pointer;
}

#form-signup {
  display: none;
}

.info__message--success,
.info__message--warning,
.info__message--error {
  font-size: 1.2rem;
  width: 50%;
  margin: 2rem auto;
  padding: 3rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.5rem 0.5rem #ccc;
}

.info__message--success {
  display: none;
  color: #270;
  background-color: #dff2bf;
}

.info__message--warning {
  display: none;
  color: #9f6000;
  background-color: #feefb3;
}

.info__message--error {
  display: none;
  color: red;
  background-color: #f7a7a3;
}
