@import "/scheme.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  color: var(--color-black);
  line-height: 1;
  font-weight: 400;
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading__primary {
  color: var(--color-white);
  text-align: center;
  margin-top: 3rem;
  font-size: 4.2rem;
}

.forms {
  max-width: 60rem;
  margin: 5rem auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  @media screen and (min-width: 37em) {
    padding: 0 3.2rem;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 4rem;
  border-radius: 3rem;
  background-color: var(--color-white);
  box-shadow: 0 2.4rem 4.8rem var(--box-shadow);
  gap: 2.4rem;

  @media screen and (min-width: 60rem) {
    grid-template-columns: 1fr 1fr;
  }
}

.form__label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.form__input {
  width: 100%;
  padding: 1.2rem;
  background-color: var(--background);
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0 0.1rem 0.2rem var(--box-shadow);
  transition: var(--transition);
}

.form__input::placeholder {
  font-size: 1.6rem;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem var(--box-shadow);
}

.form__submit {
  background-color: var(--color-dark);
  color: var(--color-white);
  width: 50%;
  border-radius: 3rem;
  border: none;
  padding: 1.2rem;
  justify-self: center;
  font-size: 2rem;
  transition: var(--transition);
  cursor: pointer;

  @media screen and (min-width: 37em) {
    grid-column: 1/-1;
  }
}

.form__submit:hover {
  background-color: var(--color-red);
}

.footer {
  background-color: var(--color-dark);
  margin-top: auto;
  color: var(--color-white);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  padding: 5rem 2rem 2rem;
}
