:root {
  /* Colors */
  --color-dark: rgb(54, 54, 54);
  --color-red: rgb(200, 50, 50);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-grey: rgb(84, 84, 84);
  --box-shadow: rgba(0, 0, 0, 0.2);
  --background: rgb(217, 217, 217);
  --error-color: rgb(220, 56, 72);
  --success-color: rgb(41, 168, 71);

  /* Fonts */
  --font: "Inter", sans-serif;

  /* Transitions */
  --transition: all 0.3s;
}
