@import "/scheme.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  color: var(--text-dark);
  line-height: 1;
  font-weight: 400;
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading__primary {
  color: var(--text-bright);
  text-align: center;
  margin-top: 3rem;
  font-size: 4.2rem;
}

.heading__secondary {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 5rem;
}

/* Navigation styles */
.navigation-container {
  max-width: 120rem;
  margin: 2.5rem auto;

  @media screen and (min-width: 37em) {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.navigation__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--color-dark);
  border-radius: 3rem;
  overflow: hidden;

  @media screen and (min-width: 37em) {
    flex-direction: row;
  }
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__link {
  display: block;
  padding: 2.8rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: var(--text-bright);
  transition: var(--transition);
}

.navigation__link:hover {
  background-color: #555;
}

.navigation__link:active {
  background-color: var(--color-red);
}

/* Table styles */
.table__container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  border-radius: 1.6rem;
  box-shadow: var(--box-shadow);

  @media screen and (min-width: 37em) {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  }
}

.table {
  width: 100%;
  border-spacing: 0 0.8rem;
  box-shadow: var(--box-shadow);
  table-layout: fixed;
}

.table__row {
  background-color: var(--background);
  cursor: pointer;
}

.table__header,
.table td:not(:last-child) {
  text-align: center;
  padding: 0.8rem;
  font-size: 1.4rem;

  @media screen and (min-width: 37em) {
    padding: 1.8rem;
    font-size: 2rem;
  }
}

td:not(:last-child) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table__column--first {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.time__wrapper {
  display: flex;
}

.time__button {
  display: inline-block;
  padding: 0.4rem;
  min-width: 1.8rem;
  border: none;
  background-color: var(--color-dark);
  color: var(--text-bright);
  cursor: pointer;

  @media screen and (min-width: 37em) {
    padding: 1rem;
  }
}

.time__button:hover {
  background-color: var(--hover-color);
}

.time__input {
  width: 100%;
  min-width: 2.5rem;
  text-align: center;
}

.time__input:focus {
  outline: none;
}

.table__button {
  width: 100%;
  padding: 1.6rem;
  background-color: var(--color-red);
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-bright);
  transition: var(--transition);
  cursor: pointer;

  @media screen and (min-width: 37em) {
    padding: 2.2rem;
    font-size: 1.8rem;
  }
}

.table__button:hover {
  background-color: var(--color-dark);
}

.footer {
  background-color: var(--color-dark);
  margin-top: auto;
  color: var(--text-bright);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  padding: 5rem 2rem 2rem 2rem;
}
